<% @courses_to_render.each do |course| %>

<div class = "outer_container margin-top-15">
	<div class='container_header'>
		<table>
			<tr>
				<td colspan = "3">
					<span class="course-title" >
						<%= link_to course.title, course_path(course) %>
					</span>
				</td>
			</tr>

			<tr>
				<td>
					<b>Professor:</b> <%= course.faculty %>
				</td>
				<td>
					<b>X/Y, Time:</b> <%= course.x_y_time %>, <%= course.start_time %>
				</td>
				<td>
					<b>Section:</b> <%= course.section %>
				</td>
			</tr>
		</table>
	</div>	

	<div class='container_content container_footer_border'>
		<div class='	'>

		<!-- Render class session -->	
			<% unless course.class_sessions.count == 0 %>
				Most Recent Class Session: <% @class_session_to_render = course.class_sessions.first %>

				<%= link_to to_day_of_week_and_date(@class_session_to_render.class_date), class_session_home_path(course.id, @class_session_to_render.id) %>

				<hr/>

				<% unless @class_session_to_render.take_aways.count == 0 %>
					<% @take_away_to_render = @class_session_to_render.take_aways.first %>

					<% puts @take_away_to_render.id %>
					<% puts '**************' %>

	  				<%= render "course/shared/take_away", :take_away => @take_away_to_render %>

				<% end %>
			<% end %>
		</div>
	</div>
</div>

<% end %>