<% unless take_away.nil? %>

	<div class='well' id='<%= take_away.id %>'>

		<h4>
			<%= take_away.user.email %>
		</h4>
			<hr/>

			<%= take_away.content.html_safe %>

			<hr/>

		<br/>
			<!-- Votes -->

			<%= render "course/shared/votes_take_aways", :take_away => take_away %>

			

			<!-- Votes -->

		<hr/>
			<%= render "course/shared/add_class_take_aways", :parent_id => take_away.id %>
		<hr/>

	</div>

<% end %>