<!-- Who Voted -->

Votes: <a href="#UserModal<%= take_away.id %>" role="button" data-toggle="modal"><%= take_away.votes.count %></a>

<% if voted?(take_away.votes, current_user) %>
	You Already Voted

<% else %>

	<%= form_tag(add_vote_path, method: "post", :take_away_id => take_away.id) do %>
		
		<input name="take_away_id" type="hidden" value="<%= take_away.id %>" />

	  	<button type="submit" class=" btn-success" title="Vote Up">Vote Up
	  	</button>

	<% end %>

<% end %>





<!-- Modal -->
<div id="UserModal<%= take_away.id %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Up Votes for <%= take_away.user.first_name %>'s Take Away</h3>
  </div>
  <div class="modal-body">

	<% @users_to_render = voted_users(take_away.votes) %>
	<%= render "course/shared/users"%>


	</table>
	
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>