<!-- Who Voted -->

Votes: <a href="#UserModal<%= take_away.id %>" role="button" data-toggle="modal"><%= take_away.votes.count %></a>

<% if voted?(take_away.votes, current_user) %>
	You Already Voted

	<%= form_tag(delete_vote_path, :class => 'display_inline', method: "post", :take_away_id => take_away.id) do %>
		
		<input name="take_away_id" type="hidden" value="<%= take_away.id %>" />

	  	<button type="submit" class="btn-link" title="Vote Up">
	  		<i class="icon-thumbs-down"></i>
	  		Remove Vote

	  	</button>


	<% end %>


<% else %>

	<%= form_tag(add_vote_path, :class => 'display_inline', method: "post", :take_away_id => take_away.id) do %>
		
		<input name="take_away_id" type="hidden" value="<%= take_away.id %>" />

	  	<button type="submit" class=" btn-link" title="Vote Up">
	  		<i class="icon-thumbs-up"></i>
	  		Up Vote 

	  	</button>

	<% end %>

<% end %>


<!-- Modal -->
<div id="UserModal<%= take_away.id %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"><i class="icon-thumbs-up"></i> for <%= take_away.user.first_name %>'s Take Away</h3>
  </div>
  <div class="modal-body">

	<table class="table">
	<% take_away.votes.each do |vote| %>
		<tr>
			<td>
				<%= profile_pic_name(vote.user) %>

			</td>

			<td>
				<%= time_ago_in_words(vote.created_at) %> ago
			</td>
		</tr>

		
			
	<% end %>

</table>


	</table>
	
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>