<% @col_num = 5 %>

<% @default_profile_pics = Array.new() %> 

<% 	@default_profile_pics[0] = 'profile_pics/alien.png'
	@default_profile_pics[0] = 'profile_pics/alien.png'
	@default_profile_pics[0] = 'profile_pics/alien.png'
	@default_profile_pics[0] = 'profile_pics/alien.png'
	@default_profile_pics[0] = 'profile_pics/alien.png'
	@default_profile_pics[0] = 'profile_pics/alien.png'
	@default_profile_pics[0] = 'profile_pics/alien.png'
	@default_profile_pics[0] = 'profile_pics/alien.png' 
	@default_profile_pics[0] = 'profile_pics/alien.png'
	@default_profile_pics[0] = 'profile_pics/alien.png'
	@default_profile_pics[0] = 'profile_pics/alien.png'
%>

<h2>
	Current Profile Picture
</h2>

	<%= image_tag(current_user.profile_pic_url) %>

<br/>

<hr>

<h2>
	Upload your own profile picture
</h2>
<br/>

<hr>

<h2>
	Choose a preconfigured Profile Picture
</h2>

<br/>

<%= form_tag(update_profile_pic_path, method: "post") do %>
	<%= submit_tag("Change Picture") %>

	<br/>
		<br/>

	<table class='table table-bordered'>
		<tr>
			<% @count = 0 %>

			<% #Dir.foreach(Rails.root.to_s + "/public/assets/profile_pics").drop(1).drop(1).each_slice(2) do |fname| %>

			<% @default_profile_pics.each do |fname| %>

				<% @count = @count + 1 %>

				<td>

					<%= fname.to_s %>

					<center>
					<%= image_tag(fname.to_s, size: "128x128", class: "img-rounded") %>

					<br/>

						<%= radio_button_tag("default_pic", fname.to_s) %>
					</center>

				</td>

				<% if (@count == @col_num) %>
					</tr>
					<tr>
					<% @count = 0 %>
				<% end %>

			<% end %>
		
		</tr>

	</table>

<% end %>